# Core functionality - changes here should be rare!
/src/app.py                   @iamblacklight
/src/backend/database.py      @iamblacklight
/src/backend/routers/auth.py  @iamblacklight

# The frontend will need refactored soon to be more object oriented.
/src/static/   @iamblacklight
